*{
	padding: 0;
    margin: 0;
}

/*top-header css*/

.header-social-media {
    margin-top: 22px;
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding: 15px 10px;
}

.top-banner-section{
    background-image: url(../images/scene-mountain.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;     
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: flex;
} 

.top-banner-section:after {
    background-color: #000;
    opacity: 0.4;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    z-index:-1;
}

.top-banner-wrapper {
    align-self: center;
    width: 100%;
    text-align: center;
}

.mid-categ{
    display: inline-block;
    border-radius: 15px 0px 15px 0px;
    padding: 5px 18px;
    background-color: #02c3d8;
}

.mid-categ span, .page-item .page-link{
    font-family: 'DM Serif Display',serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.page-link i{
    vertical-align: middle;
}

.mid-heads{
    margin-top: 27px;
}

.mid-heads h1{
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.mid-heads span{
    opacity: 0.49;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 17px;
    display: block;
}

.mid-social-media{
    margin-top: 40px;
}

.mid-link {
    list-style: none;
}

.mid-social-item{
    display: inline-block;
}

.mid-social-item .social-link{
    padding:10px;
    transition: 0.3s;
    color: #fff;
    font-size: 20px;
}

.mid-social-item .social-link:hover{
    color: #919191;
    transition: 0.3s;
}

.blog-list-media .mid-social-item .social-link:hover{
    color: #c0b6b6;
    transition: 0.3s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-button:focus .sidenav{
    display: block;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.header-social-media .social-link{
    font-size: 17px;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 50%;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


.blog-head .head-blog{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 33px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

.blog-head .blog-theme{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.1px;
    color: #7b7a7a;
    margin-top: 10px;
}

.blog-search{
    display: inline-block;
    text-align: center;
    margin-top: 54px;
}

.blog-search .form-control{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #545454;
    width: 156px;
}

.blog-search .form-control{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #434343;
    text-align: center;
    border-radius: 0px;
}

.blog-search .form-control:focus{
    box-shadow: none;
}

ul .head-menu{
    position: relative;
    z-index: 1;
}

.nav-line{
    position: absolute;
    z-index: 9;
    left: 26%;
    width: 1px;
    height: 280px;
    background-color: #2a2a2a;
}

.header-menu {
    margin-top: 28px;
}

.header-menu .header-link{
    opacity: 0.5;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 15px;
    display: inline-block;
    transition: 0s;
    z-index:1;
    padding: 9px 47px;
}

.header-menu .header-links{
    opacity: 0.5;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 15px;
    display: inline-block;
    transition: 0s;
    position: relative;
    z-index:1;
    padding: 9px 47px;
}

.header-menu .header-link:hover{
    opacity: 1;
}

.header-menu .header-link:hover .header-menu .header-links:after{
    top: 120px;
}

.header-item{
    list-style: none;
}

span.nav-button {
    position: absolute;
    left: 5%;
    top: 5%;
    color: #e5e5e5;
}

/*top-header css*/

/*featured blog*/   

.featured-blog-wrapper {
    padding: 70px 0px;
    text-align: center;
    background-color: #f9f9f9;
}

.featured-blog-wrapper.homepage-two-wrap {
    padding-top: 150px;
}

.featured-blog.homepage-two-feature .featured-blog-wrapper {
    padding-top: 150px;
}

.theme-by{
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.featured-blog-wrapper .blog-head{
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: var(--black);
    display: inline-block;
    position: relative;
}

.featured-blog-wrapper .blog-head::after{
    position: absolute;
    width: 44%;
    height: 2px;
    content: "";
    left:42px;
    right:0px;
    bottom: -10px;
    background-color: #02c3d8;
    text-align: center;
}

.blog-feature-images, .column-divided-img{
    width: 100%;
}

.blog-feature{
    margin-top: 60px;
}

.blog-feature-wrapper{
    position: relative;
    display: flex;
    transition: border-radius 1s;
}

.blog-feature-wrapper:before{
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color:#000;
    z-index: 7;
    transition: border-radius 1s;
    transition: 0.3s;
}

.blog-feature-wrapper:hover:before{
    opacity: 0.7;
    border-radius: 40px 0px 40px 0px;
    transition: border-radius 0.3s;
    transition: 0.3s;
}

.card-body.about-title {
    background-color: #f9f9f9;
}

.card-body.about-title .card-title{
    color: #000;
}

.feature-mid{
    z-index: 10;
}

.blog-feature-wrapper:hover{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.blog-feature-img{
    width: 100%;
    transition: border-radius 0.3s;
}

.wrap-buttons-descp .continue-reading-btn {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 8;
    top: 42%;
}

.wrap-buttons-descp {
    width: 100%;
    align-self: center;
}

.category-display{
    position: absolute;
    left: 14px;
    top: 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #02c3d8;
    padding: 8px 27px;
    border-radius: 15px 0px 15px 0px;
    display: flex;
    z-index: 7;
}

.blog-feature-wrapper:hover .feature-mid .continue-reading-btn{
    display: block;
}

.blog-feature-wrapper .feature-mid .continue-reading-btn{
    display: none;
}

.category-display .category-name{
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.blog-descp{
    position: absolute;
    bottom: 21px;
    left: 0px;
    right: 0px;
    z-index:9;
}

.blog-descp h5{
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4px;
}

.blog-descp{ 
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 8;
}

.blog-image img{
    transition: border-radius 0.3s;
}

.blog-feature-wrapper:hover .blog-feature-img{
    border-radius: 40px 0px 40px 0px;
    transition: border-radius 0.3s;
}

.blog-feature-wrapper:hover{
    border-radius: 40px 0px 40px 0px;
    transition: border-radius 0.3s;
}

.blog-feature-wrapper:hover .blog-feature-wrapper:before{
    visibility: visible;  
    border-radius: 40px 0px 40px 0px;
    transition: border-radius 0.3s;
}

.blog-feature-wrapper:hover .category-display{
    display: none;
    transition: 0.4s;
}

.feature-bot{
    margin-top: 31px;
}


/*featured blog*/

/*blog list-*/

.theme-by span, .form-control, .nav-links{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #787878;
    text-shadow: none;
}

.blog-content-wrapper {
    padding: 60px 0px;
}

.blog-list-sec .card.mid-card{
    margin-top: 38px;
    border: none;
}

.blog-list .next-head {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    font-size: 24px;
    position: relative;
    display: inline-block;
}

.blog-list .next-head:after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 0px;
    bottom:-14px;
    background-color: #02c3d8;
}

.about-blog-section .read-more-like {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.blog-content-wrapper.home-page .horizontal-blog-wrapper .read-more-btn {
    position: absolute;
    top: 22%;
    right: 0;
    left: 0;
}

.blog-content-wrapper.home-page .like-back i {
    width: 55px;
}

.button-wrapper {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
}

.button-wrapper .like-back i{
    color: #c3c3c3;
}

.like-button-hori .like-back i{
    color: #c3c3c3;
}

.image-two-wrapper .like-back i{
    width: 55px;
}

.about-blog-section .read-more-like .like-back i {
    color: #c3c3c3;
}

img.two-section-blog {
    width: 100%;
}

.card.mid-card{
    margin-top: 54px;
}

.blog-content-wrapper.home-page .card.mid-card .card-body{
    padding: 60px 40px 25px 40px ;
    text-align: center;
    background-color: #f9f9f9;
}

.blog-content-wrapper.home-page .blog-list-sec .card.mid-card .card-body {
    padding-top: 60px;
}

.like-button-wrap {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
}   

.like-button-wrap .like-button{
    position: unset;
}

.like-button-wrap .read-more-like {
    height: 55px;
    width: 55px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 100px;
    display: inline-block;
}

.like-button-wrap .like-back i{
    color: #a29f9f;
}

.card-first-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}


.blog-list-sec .card.mid-card .card-body{
    padding-top: 40px;
}


.card-first-mid-btn{
    display: none;
}

.card.mid-card:hover .card-first-btn{
    display: none;
}

.card.mid-card:hover .card-first-mid-btn{
    display: block;
}

.card.mid-card:hover .blog-card-head:after{
    visibility: visible;
}

.blog-card-head:after{
    position: absolute;
    height: 100%;
    content: "";
    background-color: #00000082;
    width: 100%;
    top: 0;
    visibility: hidden;
    left: 0;
}

.blog-card-head .travel-ess{
    width: 100%;
}

.card-first-btn .display-list-blog {
    padding: 5px 30px;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #02c3d8;
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.image-like {
    position: relative;
}   

.card-title{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
}

p.card-text {
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #787878;
}

.blog-list-media {
    margin-top: 25px;
}

.blog-list-firstad{
    margin-top: 42px;
}

.blog-list-firstad img {
    width: 100%;
}

/*blog list-*/

/*about-blog*/

.like-link{
    margin-bottom: 12px;
}

.wrap-about{
    background-color: #f9f9f9;
}

.beauty-head h1{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    margin-top: 5px;
}

.beauty-head span, .dial-icon.number a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9c9c9c;
}

span.angle-button{
    color: #fff;
}

.like-comment {
    margin-bottom: 3%;
}   

.beauty-head p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #787878;
}

.like-item a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9c9c9c !important;
}

.about-image.about-img-top{
    margin-top: 30px;
}

.like-item i{
    font-size: 16px; 
    color: #c3c3c3;  
}

.about-image .gym-lady{
    width: 100%;
    height: 310px;
    object-fit: cover;
}

.blog-view-list .like-link {
    margin-bottom: -3px;
}

.blog-wrap-color{
    background-color: #f9f9f9;
}

.beauty-head{
    width: 100%;
    display: inline-block;
}

.like-link .like-item{
    display: inline-block;
    margin-left: 5px;
}

.like-link .like-item:first-child{
    margin-left: 0px;
}

.about-image{
    position: relative;
    z-index: 1;
}

.about-blog-section {
    margin-top: 34px;
}

.about-blog-section.blog-top-section {
    margin-top: 53px;
}


.like-button-blog i{
    color: #c3c3c3;
    font-size: 20px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55px;
}

.like-button-hori i{
    color: #c3c3c3;
    font-size: 20px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55px;
}

.icon-wrap{
    height: 55px;
    width: 55px;
    background-color:#f9f7f7 ;
    border-radius: 50%;
    transition: 0.3s;
    display: flex;
    margin: 0 auto;
}

.like-button-hori .icon-wrap{
    margin: 0;
}

.image-two .like-back{
    border-radius: 50%;
    transition: 0.3s;
    display: inline-block;
}

.image-two-wrapper {
    text-align: center;
}

.image-two-wrapper img{
    width: 100%;
}

.like-back i {
    color: #c3c3c3;
    font-size: 20px;
}

.like-back .icon-wrap{
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.about-image .beauty-head{
    background-color: #f9f9f9;
}

.beauty-head {
    padding: 23px 15px 24px 25px;
}

.read-more-btn .btn:focus{
    box-shadow: none;
}


/*about-blog*/

/* horizontal blog*/

.about .card-body{
    text-align: center;
    padding: 18px 27px;
    position: relative;
    padding-bottom: 27px;
}

.about-hori .card-body{
    text-align: center;
}

.horizontal-blog-wrapper{
    margin-top: 35px;
}

.hori-blog-image img{
    width: 100%;
}

.card-span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #9c9c9c;
}

.card.mid-card .card-title, .beauty-head span.angle-button{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-top: -8px;
}

.beauty-head span.angle-button{
    font-size: 14px;
    color: #fff;
}

.horizontal-button{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    text-align: center;
    visibility: hidden;
    transition: 0.2s;
}

.card-header-sec:hover .horizontal-button{
    visibility: visible;
    transition: 0.5s;
}

.about-img .like-button-hori{
    top: 87%;
}

/* .about {
    padding-left: 0px;
}

.about-hori {
    padding-right: 0px;
} */

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px 87px !important;
    background-color: #252525;
}

.like-button-hori {
    position: absolute;
    left: 42%;
    text-align: center;
    bottom: -12%;
}

.read-more-like {
    height: 55px;
    width: 55px;
    background-color: #252525;
    border-radius: 100px;
    display: inline-block;
}

.read-wrap .card-body{
    padding-bottom: 30px;
}

.read-more-wrapper .card .card-body .like-button {
    top: 87%;
    right: 0;
    left: 0;
}

/* horizontal blog*/

/* next col*/

.blog-search-list .next-head {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    font-size: 24px;
    position: relative;
    display: inline-block;
}

.blog-search-list .next-head:after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 0px;
    bottom:-14px;
    background-color: #02c3d8;
}

.search-box{
    margin-top: 53px;
}

.search-box ::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7e7e7e;
    text-align: center;
    vertical-align: middle;
}

.search-box .form-control{
    border-radius: 40px;
    width: 100%;
    padding: 0px 35px;
    height: 50px;
}

.search-box .btn{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background-color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.btn-wrapper-search {
    padding: 0px 8px;
}

.search-box .btn:active{
    background-color: #000;
}

.search-box .btn:focus{
}

.next-col {
    padding-left: 60px;
}

.header-author, .post-line, .news-letter, .recent-post-line, .blog-search-list.dark h6{
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    position: relative;
    display: inline-block;
}

.header-author:after, .post-line:after, .news-letter:after, .recent-post-line:after,  .blog-search-list.dark h6:after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 0px;
    bottom:-14px;
    background-color: #02c3d8;
}

.about-author {
    margin-top: 50px;
}

.author-image img{
    width: 100%;
    border-radius: 0px 60px 0px 60px;
}

.author-image{
    margin-top: 50px;
}

.next-column {
    padding-left: 38px;
}

.author-name .author-name-tag{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.author-name .author-name-para{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #787878;
    margin-top: 10px;
    width: 80%;
}

.author-name {
    margin-top: 25px;
}

.author-button{
    margin-top: 15px;
}

.author-button .btn{
    padding: 13px 23px;
}

.next-col-ad{
    margin-top: 74px;
}

.next-col-ad img{
    width: 100%;
}

.news-item{
    list-style: none;
    text-align: center;
}

.news-link {
    display: inline-block;
    padding: 5px 10px;
}

.news-link:hover i{
    color: #857d7d;
}

.blog-two-wrapper .news-link:hover i{
    color: #a19590;
}

.news-header, .blog-list-header span, .blog-list-header a{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.news-form .form-control{
    border-radius: 0% !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6b6b6b;
    padding: 21px 40px;
}

.news-form .form-inline{
    text-align: center;
}

.news-media {
    margin-top: 10px;
}

.news-submit .btn{
    padding: 13px 23px;
    background-color: #02c3d8
}

.suscribe-newsletter {
    padding: 40px 30px;
    background-color: #f2f2f2;
    margin-top: 49px;
}

.news-link i{
    color: #696665;
    font-size: 18px;
}

.news-submit {
    margin-top: 30px;
    width: 100%;
}

.news-form {
    margin-top: 27px;
}

.recent-posts{
    margin-top: 9px;
}

.about-image{
    background-color: #f9f9f9;
}

.recent-post-click .read-more-btn {
    position: absolute;
    float: left;
    left: 0%;
}

.about-news {
    margin-top: 58px;
}

.recent-line{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9c9c9c;
}

span.recent-line {
    display: block;
}

.recent-head{
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    margin-top: 9px;
}

.recent-image {
    display: inline-block;
}

.about-recent-head {
    float: right;
    display: flex;
    width: 61%;
    position: relative;
    margin-left: 5%;
}

.recent-wrap.in-it {
    align-self: center;
    width: 100%;
}

.about-recent-head .recent-head{
    margin-top: 0px;
}

.recent-post-click{
    margin-top: 20px;
    position: relative;
    display: flex;
}

.about-recent-post {
    margin-top: 54px;
}

.post-line:after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 0px;
    bottom:-14px;
    background-color: #02c3d8;
}

.tag-button-click{
    display: inline-block;
}

.post-tags {
    margin-top: 49px;
}

.tag-button-click .btn{
    width: 114px;
    height: 50px;
    border-radius: 15px 0px 15px 0px;
    background-color: #e8e8e8;
    padding-top: 11px
}

.tag-buttons {
    margin-top: 33px;
}

.tag-button-click{
    margin-top: 15px;
    margin-left: 15px;
}

.tag-button-click:first-child{
    margin-left: 0px;
}

.tag-button-click:nth-child(3) {
    margin-left: 0px;
}

.two-content .beauty-head {
    padding: 0px;
}
.two-content .beauty-head {
    width: 100%;
    display: block;
}

.insta-photo-wrap {
    margin-top: 5%;
}

.image-two{
    position: relative;
}

.blog-view-list .like-comment {
    margin-bottom: 5%;
    margin-top: 4%;
}

.image-two-wrapper img{
    width: 100%;
}

.like-back {
    text-align: center;
    align-self: center;
    width: 55px;
}

.two-content {
    margin-top: 20px;
    padding-left: 30px;
}

.blog-read .two-content {
    margin-top: 14px;
}

.blog-read.second-blog {
    margin-top: 30px;
}

.bloglist-dark-wrapper .continue-reading-btn.dark-theme-button {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    z-index: 5;
}

.card.mid-card:hover .blog-card-head .continue-reading-btn{
    display: block;
}

.blog-read .like-comment{
    margin-top: 7px;
}

.two-content .beauty-head h1{
    margin-top: 7px;
}

.two-content .beauty-head p{
    margin-top: 9px;
}

.two-content .read-more-btn{
    margin-top: 20px;
    display: inline-block;
}

.blog-two-wrapper {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 65px 0px;
}

.two-blog-top{
    margin-top: 30px;
}

.button-social-media .news-media{
    display: inline-block;
    margin-left: 10px;
}

.news-form .read-more-btn {
    margin-top: 30px;

}

/* next col*/

/*blog list view*/

.list-view-head{
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    font-size: 24px;
    position: relative;
    display: inline-block;
}

.list-view-head:after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    left: 0px;
    bottom:-14px;
    background-color: #02c3d8;
}

.share-items{
    list-style: none;
}

.blog-view-list .share-items .share-link{
    display: inline-block;
    margin-right: 8%;
}

.recent-foot-post .share-link a, .share-items .share-link a{
    background-color: #272727;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color:#fff;
}

.blog-view-list .share-items .share-link a{
    background-color: #fff;
    color: #c3c3c3;
    transition: 0.4s;
}

.share-items .share-link a:hover{
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.recent-foot-post .share-link a:hover{
    background-color: #fff;
    color: #000; 
    transition: 0.4s;
}

.insta-photo-wrap {
    margin-top: 5%;
}

section.blog-view-list {
    padding: 60px 0px;
}

.blog-view-wrapper .about-image .gym-lady{
    height: 343px;
}

.blog-view-wrapper .about-image{
    margin-top: 47px;
}

.li-wrapper{
    display: inline-block;
    margin-right: 7%;
}

.blog-side-bar .recent-image img{
    height: 115px;
    width: 100px;
}

.blog-side-bar .about-recent-head{
    width: 65%;
}

.blog-side-bar .recent-head{
    margin-top: 0px;
}

.blog-side-bar .top-span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9c9c9c;
}

.blog-side-bar .like-item{
    list-style: none;
    margin-top: 10px;
}

.comment-count{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9c9c9c;
}

.blog-view-wrapper .beauty-head{
    background-color: #f9f9f9;
}

.footer-form .news-form .form-control{
    border-radius: 5px !important;
    width: 100%;
    text-align: left;
}

.footer-form .form-group{
    padding-left: 0px;
}

.footer-form {
    margin-top: 42px;
}

/*blog list view*/



/*insta follow*/

.follow-instagram{
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    font-size: 24px;
    position: relative;
    text-align: center;
}

.follow-instagram:after{
    content: "";
    position: absolute;
    width: 6%;
    height: 2px;
    left: 0px;
    bottom:-14px;
    background-color: #02c3d8;
    left: 47%;
}

.insta-header{
    text-align: center;
}

.insta-follow-wrapper{
    padding: 50px 0px;
    background-color: #f6f6f6;
}

.insta-pic img{
    width: 100%;
}

.pad-img{
    padding: 0px 0px;
}

.wrapper{
    margin-top: 40px;
}

.insta-button {
    text-align: center;
    margin-top: 35px;
}

.insta-button .read-more-btn .button{
    padding-right: 53px;
}

.insta-button .read-more-btn .button {
    padding-right: 16px;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-bottom: 17px;
}

.insta-button .read-more-btn .button:hover{
    text-decoration: none;
}

.insta-button .read-more-btn .button:after{
    width: 23%;
    padding-top: 0px;
}

.insta-button .read-more-btn .btn{
    border-radius: 50%;
    top: 2px;
}

.insta-button .btn-img {
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 15px;
    left: 65px;
}


/*insta follow*/

/*footer*/

.blog88-head{
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    font-size: 24px;
    position: relative;
}

.blog88-head:after{
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    left: 0px;
    bottom:-14px;
    background-color: #02c3d8;
}

.footer-section-wrapper {
    padding: 50px 0px;
    background-color: #0b0a0a;
}

.footer-blog{
    list-style: none;
    margin-top: 42px;
}

.footer-link a{
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 10px;
}

.footer-blog.recent-foot .footer-link a{
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 10px;
}

.footer-blog.recent-foot .footer-link{
    display: inline-block;
    width: 48%;
}

.footer-recent{
    list-style: none;
}

.recent-foot-post{
    margin-top: 42px;;
}

.footer-form .read-more-btn{
    margin-top: 25px;
}

.footer-form .read-more-btn .button{
    left: -48px;
    padding-right: 22px;
}

.footer-form .read-more-btn .btn-img {
    left: 133px;
}

.footer-form .news-form .read-more-btn {
    left: 0%;
}


/*footer*/

/*footer-bottom*/

.bottom-link{
    list-style: none;
}

.bottom-link .footer-items{
    display: inline-block;
    margin-right: 35px;
    vertical-align: sub;
}

.footer-items a , .copy-right-section{
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
}

.bottom-foot-wrapper{
    background-color: #4c4848;
    padding: 10px 0px;
}

.footer-media-icons .footer-link {
    align-self: center;
    width: 30px;
    text-align: center;
}

.footer-media-icons {
    display: flex;
    height: 30px;
}

.footer-item:hover, .page-item .page-link:hover{
    background-color: #02c3d8;
    transition: 0.3s;
}

.span-last{
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

/*footer-bottom*/

.continue-reading-btn .btn.after-btn, .btn.after-btn{
    font-family: 'DM Serif Display',serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff !important;
    position: relative;
    padding: 14px 25px;
    border-radius: 25px;
    z-index: 9;
    width: 150px;   
    z-index: 5;
}

.mid-heads span.angle-button{
    font-family: 'DM Serif Display',serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff !important;
}

.blog-feature-wrapper:hover .continue-reading-btn{
    display: block;
}

.angle-button {
    margin-right: 5%;
}

.angle-img {
    transform: translateX(-9px);
    visibility: hidden;
}

.continue-reading-btn .btn.after-btn:after, .btn.after-btn:after{
    position: absolute;
    content: "";
    width: 80%;
    padding: 14px 0px;
    background-color: #02c3d8;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    border-radius: 50px;
    transition: 0.4s;
}

.card-header-sec .btn.after-btn:after{
     transition: 0s;
}

.continue-reading-btn .btn.after-btn:hover:after, .btn.after-btn:hover:after{
    width: 95%;
    transition: 0.4s;
}

.continue-reading-btn .btn.after-btn:hover .angle-img, .btn.after-btn:hover .angle-img{
    visibility: visible;
    transition: 0.4s;
    transform: translateX(0);
    transform: scale(.95);
}

.bottom-foot-wrapper .bottom-link{
    margin-bottom: 0px;
}

.footer-blog.recent-foot .footer-link {
    display: inline-block;
}

.mid-social-item.inherit-link .social-link, .blog-list-media  .social-link{
    color: #535050;
}

.insta-pic {
    position: relative;
}

.insta-pic:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
}

.insta-pic:hover:after{
    visibility: hidden;
}

.about-recent-post {
    margin-top: 38px;
}

.footer-blog.recent-foot .footer-link {
    vertical-align: super;
}

.owl-dots {
    display: none;
}

.category-header-link{
    transition: 0.3s;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.category-header-link:hover{
    text-decoration: none;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    color: #fff;
}

.dark-banner-category {
    padding: 30px 10px;
    background-color: #ffffff1a;
    text-align: center;
    position: relative;
    border-top: 2px solid #fff;
}

.dark-banner-category:after{
    position: absolute;
    content: "";
    border-top: 2px solid #02c3d8;
    top: -2px;
    left: 0px;
    width: 0%;
    transition: 0.4s;
}

.dark-banner-category:hover:after{
   width: 30%;
   transition: 0.4s;
}

.mid-category {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.item.mid-banner-dark .mid-banner-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    z-index: 8;
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}

/*dark theme css*/ 

/*top-header css*/

.top-header{
    position: absolute;
    z-index: 16;
    left: 0px;
    right: 0px;
}

 .navbar-brand{
    font-family: 'DM Serif Display', serif;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
}

.navbar-brand:hover{
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link{
    opacity: 0.4;
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
    padding: 17px;
    transition: 0.2s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
    opacity: 10;
    transition: 0.4s;
}

.form-control.top-header-search{
    display: none;
}

.form-inline .btn i{
    opacity: 0.6;
    color: #fff;
}

/*top-header css*/

/*mid-banner dark css*/

.continue-reading-btn.news-letter-button{
    margin-top: 30px;
    z-index: 5;
}

.news-form .form-inline{
    text-align: center;
}

.owl-nav {
    position: absolute;
    left: 0;
    top: 42%;
    right: 0;
    width: 85%;
    margin: 0 auto;
    z-index: 1;
}

.dark-mid-banner button.owl-next{
    float: right;
}

.dark-mid-banner .owl-nav button.owl-next, .dark-mid-banner .owl-nav button.owl-prev{
    padding: 5px !important;
    border-radius: 100px;
    background-color: #ffffff26;
    height: 55px;
    width: 55px;
}

.dark-mid-banner .owl-nav button.owl-next:focus, .dark-mid-banner .owl-nav button.owl-prev:focus{
    border-radius: 100px;
    outline: none;
}

.dark-mid-banner .owl-nav button.owl-next i, .dark-mid-banner .owl-nav button.owl-prev i{
    color: #fff;
    font-size: 20px;
}

.item.mid-banner-dark{
    position: relative;
}

.mid-banner-content{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    z-index: 8;
    align-self: center;
}

.search-box.dark-section .btn{
    background-color: #1b1b1b;
}

.author-name-tag.dark-theme{
    color: #fff;
}

/*mid-banner css*/

/*read more section*/

.read-more-wrapper{
    background-color: #000;
}

.read-more-wrapper .card{
    border: none;  
    border-radius: 0px;
}

.card-header-sec:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.card-header-sec .more-wrap-image {
    width: 100%;
}

.card-header-sec:hover:after, .card-header-sec:hover .read-more-btn{
    visibility: visible;
}

.card-header-sec .read-more-btn {
    width: 100%;
    align-self: center;
    text-align: center;
    visibility: hidden;
}

.horizontal-button{
   position: absolute;
   left: 0px;
   right: 0px;
   text-align: center;
   top: 22%;
   z-index: 5;
}

.card-span{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #9c9c9c;
}

.card-title{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.card-text{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #959595;
}

.like-back i {
    color: #000;
    font-size: 20px;
    align-self: center;
    width: 55px;
}

.card-body{
    background-color: #1b1b1b;
    text-align: center;
    position: relative;
}

.read-wrap{
    padding: 80px 0px;
}

/*read more btn*/

.read-more-btn.read-more .btn{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.read-more-btn.read-more .btn {
    padding: 14px 23px;
    background-color: #02c3d8;
    border-radius: 25px;
    position: relative;
    z-index: 4;
}

.read-more-btn.read-more .button {
    background-color: #06b0c2;
    border-radius: 25px;
    padding: 14px 38px;
    left: -44px;
    z-index: 2;
    padding-left: 51px;
    top: 2.5px;
    position: relative;
    transition: 0.6s;
    padding-bottom: 14px;
}

.read-more-btn.read-more:hover .button:after {
    width: 100%;
    transition: 0.6s;
}

.read-more-btn.read-more .button:after {
    position: absolute;
    content: "";
    width: 10%;
    top: 0;
    left: 0;
    height: 50px;
    background: #02c3d8;
    border-radius: 25px;
    transition: 0.6s;
    padding: 25px 0px;
}

.button-img{
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 12px;
    left: 4px;
    width: 0px;
}

.read-more-wrapper .card:hover .horizontal-button{
    display: block;
}

.read-more-wrapper .card:hover .card-header-sec:after{
    visibility: visible;
    transition: all .2s ease-in-out;
}

/*read more section*/

/*blog like section css*/

.blog-like{
    padding: 35px 0px;
    background-color: #000;
}

.image-like .read-more-like {
    border-radius: 50%;
    display: inline-block;
}

.btn-like-wrap {
    height: 55px;
    width: 55px;
    display: flex;
}

.blog-read {
    background-color: #1b1b1b;
}

.button-social-media .continue-reading-btn {
    display: inline-block;
    z-index: 6;
}

.like-button {
    position: absolute;
    right: 0;
    left: 0;
    top: 42%;
    text-align: center;
}

.image-like .like-back i {
    color: #fff;
    font-size: 20px;
}

.like-image-desp .beauty-head{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #3b3b3b;
}

img.read-blog-img {
    width: 100%;
}

.like-image-desp .beauty-head .white-head{
    color: #fff;
}

.button-social-media{
    margin-top: -4px;

}

.blog-red.second-blog{
    margin-top: 30px;
}

/*blog like section css*/

/*blog-list-css*/

section.bloglist-dark-wrapper, .pagination-wrap{
    background-color: #000;
}


.bloglist-dark-wrapper .card-body{
    background-color: #1b1b1b !important;
}

.bloglist-dark-wrapper .card-title{
    color: #fff !important;
}

.blog-list-sec.sec-top{
    margin-top: 30px;
}

.bloglist-dark-wrapper .blog-search-list h6{
    color: #fff;
}


.bloglist-dark-wrapper .next-column .header-author{
    color: #fff;
}

.blog-search-list.dark{
    margin-top: 28px;
}

.bloglist-dark-wrapper .next-column .about-news .news-letter{
    color: #fff;
}

/*blog-list-css*/

/*dark footer*/

.pagination-wrap{
    padding: 60px 0px;
    text-align: center;
}

.pagination{
    margin-bottom: 0px;
    justify-content: center;
}

.page-item{
    margin-left: 15px;
    transition: 0.3s;
}   

.page-link{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #1b1b1b;
    border: none;
}

.page-item:first-child .page-link{
    margin-left: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.page-item:last-child .page-link{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.item.mid-banner-dark img{
    height: 100vh;
    object-fit: cover;
}

.dark-footer-wrapper{
    background-color: #000;
}

.dark-border{
    padding: 30px 0px;
    border-top: 1px solid #1b1b1b;
}

.footer-media{
    list-style-type: none;
    margin-bottom: 0px;
}

.footer-item{
    background-color: #2e2c2c;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 15px;
    transition: 0.3s;
}

.footer-item .footer-link i{
    color: #fff;
    font-size: 14px;
}

.foot-head{
    text-align: center;
}

.foot-head a{
    font-family: 'DM Serif Display',serif;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.menu-item{         
    list-style: none;
    margin-bottom: 0px;
    margin-top: 5px;
}

.menu-item .menu{
    display: inline-block;
    margin-right: 30px;
}

.menu .menu-link{
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5b5b;
}

/*dark footer*/

.blog-card-head .blog-start-img, .about-img img{
    width: 100%;
}


.blog-wrap-col {
    padding-left: 15px !important;
}

.beauty-head {
    padding: 23px 15px 24px 0px;
}

.blog-card-head, .about-img{
    position: relative;
}

.like-button-blog {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 42%;
}

.like-button-blog .like-back{
    display: inline-block;
}

.card-first-mid-btn {
    position: absolute;
    left: 0;
    right: 0;
}

.card-first-mid-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
}


/* header 4 css*/

.top-menu{
    background-color: #fff;
    width: 100%;
}

.menu-top{
    list-style: none;
    margin-top: 10px;
}

.shape-menu{
    display: inline-block;
    margin-right: 25px; 
}

.shape-menu .nav-menu i{
    color: #000;
    font-size: 15px;
}

.header-search .btn i{
    color: #635f5f;
}

.shape-item{
    list-style: none;
    margin-top: 0px;
}

.shape-link{
    margin-right: 40px;
    display: inline-block;
}

.shape-link .shape-list{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3a3636;
}

.nab-menu {
    height: 77px;
    width: 60%;
    /* border-top: 120px solid #c82020; */
    /* border-left: 60px solid transparent; */
    /* border-right: 60px solid transparent; */
    clip-path: polygon(2% 100%, 98% 100%, 100% 0, 0 0);
    background: #fff;
    border-radius: -1%;
    border-radius: 0px 0px 33px 3%;
    position: absolute;
    z-index: 10;
    left: 20%;
}


/* header 4 css*/

/*side nav css page 3*/

.news-form .form-control{
    width: 100%;
}

.news-form .form-group{
    padding: 0px;
}

.page3-nav .sidenav{
    background-color:#fff;
    height:13%;
    left:7.9%;
    overflow-x:hidden;
    position:fixed;
    top:0;
    transition:.5s;
    width:0;
    z-index:1;
    padding-top: 0px;
}

.sidenav a{
    color:#818181;
    display:inline-block;
    font-size:25px;
    text-decoration:none;
    transition:.3s;
}

.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{
    color:#f1f1f1;
}

.sidenav .closebtn{
    font-size: 36px;
    position: absolute;
    top: 51%;
    margin-left: 0px;
    left: 40px;
}

@media screen and max-height 450px {
.sidenav,.sidenavR{padding-top:15px;}
.sidenav a,.sidenavR a{font-size:18px;}
}

.page3-header-media .page3-media{
    list-style: none;
}

.page3-nab .navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7a6f6f;
}

.page3-nab .navbar-nav .nav-item .nav-link{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000 !important;
}

.page3-header-media .shape-menu a i {
    color: #7a6f6f;
}

.page3-header-media .shape-menu a i:hover{
    color: #000;
}

.page3-nab {
    border-top: 1px solid #dcdcdc;
}

.center-text {
    padding: 10px 0px;
}

.menu-class {
    margin-left: 15px;
    margin-top: 12px;
    float: right;
}

.page3-nav .nab-menu{
    margin-top: 10px;
}

.menu-pad:after {
    position: absolute;
    content: "";
    padding: 32px 58px;
    top: -10px;
    left: -15px;
    width: 100%;
    height: 100%;
    border: 1px solid #dcdcdc;
    z-index: -1;
}

.col-xs-1.menu-pad {
    position: relative;
}

.head {
    text-align: center;
    margin-top: 5px;
}

.blog-name{
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.form-inline.border-page{
    margin-top: 2px;
}

.form-inline.border-page .form-control{
    padding: 10px 0px ;
    border: none;
    opacity: 0.75;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    width: 73%;
    margin-right: 0px !important;
}

.form-inline.border-page .btn:focus{
    box-shadow: none;
}

.form-inline.border-page i{
    color: #575353;
}

.form-inline.border-page .form-control:focus{
    box-shadow: none;
}

.form-inline.border-page .btn:after {
    position: absolute;
    content: "";
    padding: 32px 0px;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #dcdcdc;
    z-index: -1;
}

form.form-inline.border-page {
    margin-top: 4px !important;
}
   
/*side nav css page 3*/

/* homepage-two */

.dark-mid-banner.homepage-two .item.mid-banner-dark {
    position: relative;
}

.item.mid-banner-dark:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.5;
    background-color: #000;
    width: 100%;
    height: 100%;
}

section.dark-mid-banner.homepage-two{
    position: relative;
}

.blog-content-wrapper.home-page-two .blog-list-sec .card.mid-card .card-body, .blog-content-wrapper.home-page-two .card-body {
    background-color: #f9f9f9;
    padding: 60px 40px 25px 40px;
    text-align: center;
}

.mid-category.homepage-two-category{
    position: absolute;
    bottom: -110px;
    right: 0;
    left: 0;
    z-index: 15;
    width: 80%;
    margin: 0 auto;
}

.carousel.slide.layout-five.carousel-second-page .mid-banner-content{
    width: 80%;  
}

.overlay-wrap{
    position: relative;
}

.overlay-wrap:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #0000004a;
}

.overlay-wrap img, .footer-img img{
    width: 100%;
}

.blog-list-header span, .blog-list-header a{
    font-size: 18px;
    color: #fff;
}

.blog-list-header span{
    padding: 5px 30px;
    background-color: #02c3d8;
    border-radius: 15px 0px 15px 0px;
    font-size: 14px;
}   

.blog-list-header a{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.blog-list-header {
    text-align: center;
    top: 35%;
    left: 0;
    position: absolute;
    z-index: 7;
}


/* homepage-two */

/* homepage three */

.top-header.homepage-three{
    position: unset;
}

.footer-links-list.top-header-third .footer-icon-link i{
    color: #9d9d9d;
    transition: 0.3s;
}

.footer-links-list.top-header-third .footer-icon-link{
    background-color: #fff;
    border: 1px solid #9d9d9d;
    transition: 0.3s;
}

.footer-links-list.top-header-third .footer-icon-link:hover{
    background-color: #000;
    transition: 0.3s;
}

.footer-links-list.top-header-third .footer-icon-link:hover i{
    color: #fff !important;
    transition: 0.3s;
}

.homepage-three-link .navbar-brand{
    color: #000 !important;
    vertical-align: text-top;
}

.homepage-three-link{
    text-align: center;
}

.dial-icon {
    display: inline-block;
}

.dialer-section {
    text-align: right;
}

.dial-icon.number {
    margin-left: 10px;
}

.footer-links-list.top-header-third, .dialer-section{
    margin: 0px;
    margin-top: 8px;
}

.dialer-icon i {
    color: #9d9d9d;
    transform: rotate(-270deg);
    font-size: 16px;
}

.nav-top-wrapper {
    padding: 10px 0px;
    border-bottom: 1px solid #0000003d;;
}

header.top-header.homepage-three.fourth-layout .nav-top-wrapper {
    padding: 10px 0px;
    border-bottom: 0px solid #0000003d;
}

.navbar-nav.homepage-navbar .nav-item .nav-link{
    color: #000 !important;
}

.btn.search-button-header i{
    color: #9d9d9d !important;
    font-size: 20px;
}

.top-header.homepage-three .navbar.navbar-expand-lg.navbar-light {
    padding: 0px 0px;
}

.top-header.homepage-three .navbar-brand i{
    color: #9d9d9d;
    font-size: 22px;
}

.slick-vertical .slick-slide {
    height: 610px;
}

.mid-carousel-wrap .slick-slide img{
    display: inline-block;
}

.mid-carousel-wrap .angle-button {
    display: inline-block;
    margin-top: 0px;
}

.mid-carousel-wrap .btn.after-btn{
    width: 155px;
}

.mid-carousel-wrapper {
    position: absolute;
    top: 0;
    right: 1px;
    width: 48%;
    z-index: 9;
    height: 100%;
    background-color: #000;
}

.mid-carousel-wrap .mid-heads h1, .mid-carousel-wrap .mid-heads span, .mid-carousel-wrap .footer-insta-button{
    text-align: left;
}

.mid-carousel-wrap .slider-div {
    padding: 60px;
    padding-top: 80px;
    padding-left: 80px;
}


.mid-carousel-wrap  button.top-arrow.slick-arrow, .mid-carousel-wrap button.bottom-arrow.slick-arrow{
    border-radius: 100%;
    height: 55px;
    width: 55px;
    background-color: #404040;
    border: none;
}

.mid-carousel-wrap  button.top-arrow.slick-arrow, .mid-carousel-wrap button.bottom-arrow.slick-arrow:focus{
    outline: none;
}

.mid-carousel-wrap button.bottom-arrow.slick-arrow{
    margin-left: 18px;
}

.mid-carousel-wrap button.top-arrow.slick-arrow i, .mid-carousel-wrap button.bottom-arrow.slick-arrow i{
    width: 55px;
    text-align: center;
    align-self: center;
    color: #fff;
}

.mid-carousel-wrap .carousel-buttons {
    position: absolute;
    bottom: 105px;
    left: 81px;
}

.slick-carousel.layout-five-carousel.slick-initialized.slick-slider.slick-vertical {
    align-self: center;
}

.carousel-image{
    width: 100%;
    height: 610px;
    object-fit: cover;
}

.blog-wrap-color.third-layout {
    margin-top: 65px;
}

/* .column-wrapper:first-child {
    padding-left: 0px !important;
}

.column-wrapper:last-child {
    padding-right: 0px !important;
} */

.category-display {
    left: 37%;
    top: 55%;
}




/* mid banner three */

/* home page four */

.footer-links-list.top-header-four {
    text-align: right;
}

.footer-links-list.top-header-four .footer-icon-link.active{
    background-color: inherit;
}

.footer-links-list.top-header-four .footer-icon-link i{
    color: #979797;
}

.footer-links-list.top-header-four .footer-icon-link{
    background-color: inherit;
}

.form-inline.header-four-search .btn i {
    color: #191919;
}

.header-four-search .form-control {
    border: none !important;
    text-align: left;
}

.header-four-search .form-control:focus{
    box-shadow: none;
}

form.form-inline.header-four-search {
    float: right;
    padding: 12px 5px;
}

header.top-header.homepage-three.fourth-layout .nav-top-wrapper {
    padding: 0px 0px;
}

form.form-inline.header-four-search {
    border: 1px solid #0000003d;
    border-top: 0px;
    border-bottom: 0px;
}

.nav-wrapper-top{
    border-top: 1px solid #0000003d;
}

li.nav-item {
    list-style: none;
    display: inline-block;
}

.menu-wrap {
    display: inline-block;
    padding: 19px;
    border: 1px solid #0000003d;
    border-top: 0px;
    border-bottom: 0px;
}

.menu-wrap .nav-item {
    margin-left: 15px;
}

#carouselExampleCaptions .carousel-caption{
    top: 25%;
}

.carousel.slide.layout-five.dark-theme .carousel-caption {
    top: 25%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel.slide.layout-five.dark-theme .mid-banner-content {
    width: 58%;
}

.carousel-controllers {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 42%;
}

.carousel.slide.layout-five.dark-theme .carousel-controllers {
    z-index: 12;
}

.carousel-controllers .carousel-control-next {
    float: right;
}

.carousel-control {
    display: flex;
    height: 55px;
    text-align: center;
}

.carousel-control i {
    align-self: center;
    width: 55px;
}

/* home page four */

.mid-carousel-wrap{
    position: relative;
    z-index: 5;
}

header.top-header.homepage-three.homepage-five .dialer-section {
    margin-top: 0px;
}

.mid-carousel-wrap:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000038;
    content: "";
    z-index: 6;
}

.vert .carousel-item-next.carousel-item-left, .vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 3s;
}

.vert .carousel-item-next, .vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
    -webkit-transition: 3s;
}

.vert .carousel-item-prev, .vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
    -webkit-transition: 3s;
}

.carousel-wrapper {
    width: 48%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
}

.carousel-wrapper{
    background-color: #000;
    padding: 60px;
}

ol.carousel-indicators{
    display: none;
}

.carousel-wrapper .footer-insta-button .btn.after-btn .angle-button{  
    display: inline-block;
    margin: 0px;
}

.vertical-carousel .carousel-item .mid-heads h1, .vertical-carousel .carousel-item .mid-heads span,  .vertical-carousel .carousel-item .footer-insta-button{
    text-align: left;
}  

.carousel-control-next, .carousel-control-prev {
    width: 55px;
    height: 55px;
    top: inherit;
    border-radius: 100px;
    background-color: #ffffffc4;
    position: unset;
    display: inline-block;
    margin-right: 14px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-image: inherit;
}

.carousel-wrapper .bg-dark{
    background-color: inherit !important;
    color: #fff;
}

.carousel-button-wrap {
    display: inline-block;
}

/* mid banner three */

/* homepage three */

/* footer two */

.footer-copy-right{
    text-align: center;
    padding: 25px 0px;
    background-color: #222222;
}

.footer-two-wrapper .footer-links:hover{
    color: #fff !important;
    transition: 0.5s;
}

.blog-date-header{
    text-align: center;
}

.blog-date-wrap .recent-post-click.first-child{
    margin-top: 30px;
}

.instagram-section {
    margin-top: 15px;
    padding-right: 50px;
}

.footer-icon-link{
    height: 30px;
    width: 30px;
    background-color: #272727;
    border-radius: 100px;
    display: flex;
    transition: 0.5s;
}

.footer-icon-link.active{
    height: 30px;
    width: 30px;
    background-color: #02c3d8;
    border-radius: 100px;
    display: flex;
}

.footer-icon-link i{
    color: #fff;
    width: 30px;
    align-self: center;
    text-align: center;
    padding: 5px;
}

.footer-icon-link:hover{
    background-color: #02c3d8;
    transition: 0.5s;
    text-decoration: none;
}

.footer-header-link:hover{
    color: #02c3d8 !important;
    transition: 0.5s;
    text-decoration: none !important;
}

.footer-list {
    list-style: none;
}

.mid-column {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-links-list {
    margin-top: 20px;
}

.footer-list .footer-links {
    margin-top: 0px;
    padding: 5px;
}

.blog-date-wrap.second-row {
    margin-top: 47px;
}

.footer-insta-button{
    margin-top: 26px;
    text-align: center;
}

.blog-date-wrap .recent-head{
    color: #fff;
}

.blog-date-wrap {
    padding-right: 50px;
}

.insta-sec-wrapper {
    margin-top: 30px;
    padding: 20px;
}

.footer-header-link, .footer-links{
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: relative;
    padding: 10px 0px;
    display: inline-block;
}

.footer-header-link:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    content: "";
    height: 2px;
    background-color: #02c3d8;
}

.footer-links{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #aaa;
    line-height: 1.38;
    margin-top: 15px;
}

.footer-homapage-two{
    background-color: #000;
    padding: 65px 0px;
}

.insta-sec-wrapper{
    background-color: #222;
}

.terms-list .footer-links {
    margin-right: 19px;
    color: #636363 !important;
    margin-top: 0px;
    padding: 8px 0px; 
}

.terms-list-links {
    padding-top: 20px;
    border-top: 1px solid #424242;
}

.quick-links {
    margin-top: 25px;
}

.quick-links.social-medias {
    margin-top: 25px;
    padding-bottom: 10px;
}

.featured-blog-wrapper.homepage-two-wrap {
    padding-top: 150px;
}

header.top-header.homepage-three.homepage-five .footer-links-list.top-header-third .footer-icon-link{
    border: 0px solid #9d9d9d;
    color: #000;
}


header.top-header.homepage-three.homepage-five .footer-links-list.top-header-third .footer-icon-link i{
    color: #000;
}

header.top-header.homepage-three.homepage-five .footer-links-list.top-header-third .footer-icon-link:hover i{
    color: #000 !important;
}

header.top-header.homepage-three.homepage-five .footer-links-list.top-header-third .footer-icon-link:hover{
    background-color: inherit;
}

.footer-links-list.top-header-third .footer-list{
    margin-right: 5px !important;
}

.dialer-section .form-inline{
    display: inline-block;
}

header.top-header.homepage-three.homepage-five .navbar-nav.homepage-navbar .nav-item .nav-link {
    color: #fff !important;
    opacity: 1;
}

header.top-header.homepage-three.homepage-five .nav-top-wrapper{
    border-bottom: 0px;
}

/* footer two */

.header-five ul.navbar-nav.homepage-navbar.mr-auto.ml-auto {
    overflow: hidden;
}

.header-five li.nav-item, .bottom-foot-wrapper.layout-five .footer-link .footer-items {
    position: relative;
    z-index: 8;
    transition: 0.5s;
}

.header-five .navbar-light .navbar-nav .nav-link {
    padding: 17px 22px;
}


.header-five li.nav-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -216%;
    left: 0;
    border-top: 60px solid #fff;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 100%;
    transition: 0.5s;
    border-radius: 0px 0px 19px 19px;
    z-index: -1;
}   

.bottom-foot-wrapper.layout-five .footer-link .footer-items:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 135%;
    left: 0;
    border-bottom: 60px solid #fff;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 100%;
    transition: 0.5s;
    border-radius: 19px 19px 0px 0px;
    z-index: -1;
}

.bottom-foot-wrapper.layout-five .footer-link .footer-items:hover:after{
    top: 0%;
    transition: 0.5s;
}

.header-five li.nav-item:hover:after{
    top: -10%;
    transition: 0.5s;
}

.header-five .navbar-nav.homepage-navbar .nav-item .nav-link {
    color: #fff !important;
    opacity: 1;
}

.header-five .navbar-nav.homepage-navbar .nav-item .nav-link:hover{
    color: #000 !important;
    transition: 2s;
}

.header-five {
    position: absolute;
    z-index: 9;
    right: 0;
    left: 0;
}

.header-five  nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0px 10px;
}

.dark-footer-wrapper.home-page-three.layout-five .footer-links-list.top-header-third .footer-icon-link {
    border: none;
    background-color: inherit;
}

.dark-footer-wrapper.layout-five .foot-head a {
    color: #000;
}

.dark-footer-wrapper.layout-five .span-last {
    color: #000;
    vertical-align: sub;
}

section.dark-footer-wrapper.home-page-three.layout-five {
    background-color: #fff;
}

.dark-footer-wrapper.home-page-three.layout-five .footer-last {
    text-align: right;
}

.dark-footer-wrapper.home-page-three.layout-five .dark-border {
    padding: 10px 0px;
}

.dark-footer-wrapper.home-page-three.layout-five .footer-links-list.top-header-third .footer-icon-link i {
    color: #000;
    transition: 0.3s;
}

.dark-footer-wrapper.home-page-three.layout-five .footer-links-list.top-header-third .footer-icon-link:hover i{
    color: #0000003d !important;
}

.bottom-foot-wrapper.layout-five .footer-link {
    text-align: center;
    padding: 6px 0px;
}

.bottom-foot-wrapper.layout-five{
    background-color: #0b0a0a;
    overflow: hidden;
}

.bottom-foot-wrapper.layout-five .footer-items a{
    font-size: 14px;
}

section.dark-footer-wrapper.home-page-three.layout-five .dark-border {
    border-top: none;
}

.bottom-foot-wrapper.layout-five .footer-items {
    padding: 10px 22px;
    margin-right: 0px !important;
} 

.bottom-foot-wrapper.layout-five .footer-items:hover .bottom-tag{
    color: #000 !important;
    opacity: 1;
}

.mobile-show{
    display: none;
}

.header-five .navbar-nav.homepage-navbar {
    display: inline-block;
}

.fifth-header-layout{
    display: none;
}

.fifth-layout-mobile {
    display: none;
}

.header-five.layout-six .nav-item:after {
    display: none;
}

.header-five.layout-six .navbar-nav.homepage-navbar {
    padding: 0px 30px;
    position: relative;
}

.top-header.homepage-three.homepage-six .nav-top-wrapper {
    border-bottom: 0px solid #0000003d;
}

.header-five.layout-six .navbar-nav.homepage-navbar:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -113%;
    left: 0;
    border-top: 60px solid #fff;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 100%;
    transition: 0.5s;
    border-radius: 0px 0px 19px 19px;
    z-index: -1;
}

.header-five.layout-six .navbar-nav.homepage-navbar:hover:after{
    top: -8%;
}

.header-five.layout-six .navbar-nav.homepage-navbar .nav-item .nav-link{
    color: #9d9e9f !important;
}

.header-five.layout-six .navbar-nav.homepage-navbar .nav-item .nav-link:hover{
    color: #000 !important;
    transition: 1s;
}

.bottom-foot-wrapper.layout-six .footer-link .footer-items:after{
    display: none;
}

.bottom-foot-wrapper.layout-six .footer-link {
    width: 57%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.bottom-foot-wrapper.layout-six{
    padding-bottom: 0px;
}

.bottom-foot-wrapper.layout-six .footer-link:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 135%;
    left: 0;
    border-bottom: 60px solid #fff;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 100%;
    transition: 0.5s;
    border-radius: 19px 19px 0px 0px;
    z-index: -1;
}

.bottom-foot-wrapper.layout-six .footer-link:hover:after{
    top:9%;
}

.bottom-foot-wrapper.layout-six .footer-link a.bottom-tag{ 
    color: #9d9e9f !important;
}

.top-header.homepage-three .navbar-fixed{
    background-color: #fff;
}

/* product-page */

.product-banner-img {
    width: 100%;
    height: 640px;
    object-fit: cover;
}

.carousel-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000075;
}

/* product-page */




/* media query */ 

@media screen and (max-width: 1199px){
    .read-more-btn .button{
        display: none;
    }

    .btn-img img{
        display: none;
    }

    .blog-feature-wrapper:before{
        opacity: 0.4;
    }

    
}

@media screen and (max-width: 1024px){
    .mid-heads h1{
        font-size: 27px;
    }

    .bottom-foot-wrapper.layout-six .footer-link {
        width: 68%;
    }

    .mid-category.homepage-two-category {
        width: 90%;
    }

    .like-comment.next-top {
        margin-bottom: 3%;
        margin-top: 5%;
    }

    .search-box .btn {
        width: 100px;
        height: 45px;
        margin-left: 4% !important;
        margin-top: 0px !important;
    }

    .search-box .form-control {
        width: 175px;
        height: 45px;
    }

    .blog-view-list .beauty-head p{
        display: none;
    }

    .share-link {
        margin-right: 7px;
    }

    .about-image.about-img-top .like-comment {
        margin-bottom: 9%;
    }

    .beauty-head p{
        display: ;
    }

    .about-image .gym-lady{
        height: 285px;
    }

    .search-box .btn{
        margin-top: 15px;
        margin-left: 0px;
    }

    .display-none-para{
        display: none;
    }

    .about-image .beauty-head .read-more-btn {
        margin-top: 20px;
    }

    .beauty-head h1{
        font-size: 19px;
    }

    .next-column{
        padding-left: 0px;
    }

    .beauty-head{
        padding: 24px 16px 24px 19px;
    }

    /* dark theme media query */

    .dark-banner-category {
        padding: 20px 10px;
    }

    .horizontal-button {
        top: 18%;
    }

    .two-content .top-span{
        display: none;
    }

    .blog-read .two-content {
        margin-top: 6px;
    }

    .blog-list-sec .card.mid-card .card-body {
        padding-bottom: 15px;
    }

    .menu-item .menu {
        margin-right: 16px;
    }

    .navbar-toggler > .top-header{
        background-color: #000;
    }

     /* dark theme media query */
    
     .li-wrapper{
        margin-right: 2px;
    }
    
}

@media screen and (max-width: 992px){
    .feature-bott{
        margin-top: 31px;
    }

    .card-first-mid-btn{
        top: 35%;
    }

    .category-display{
        padding: 4.5px 14px;
    }

    .blog-descp h5{
        font-size: 17px;
    }

    .blog-feature {
        margin-top: 25px;
    }

    .search-box .btn{
        margin-top: 15px;
        margin-left: 0px;
    }
    
    .read-more-btn .btn{
        padding: 10px 15px
    }

    .read-more-btn .button{
        padding: 10.2px 40px;
        padding-left: 50px;
        padding-right: 19px;
    }

    .read-more-btn .button:after{
        height: 42px;
    }

    .btn-img{
        top: 11px;
        left: 104px;
    }

    .about-img{
        width: 100%;
    }

    .beauty-head{
        width: 100%;
    }

    .news-header{
        font-size: 17px;
    }

    .beauty-head {
        padding: 16px 16px 24px 19px;
    }

    .recent-head{
        font-size: 17px;
        margin-top: 6px;
    }

    .about{
        padding-left: 15px;
    }

    .two-content .read-more-btn {
        margin-top: 0px;
    }

    .two-content {
        margin-top: 15px;
        padding-left: 15px;
    }

    .blog-side-bar .about-recent-head{
        width: 100%;
    }

    .about-recent-post {
        margin-top: 46px;
    }

    .blog-side-bar .recent-head {
        margin-top: 12px;
    }

    .insta-button .read-more-btn .btn {
        padding: 15px 21px;
        padding-top: 16px;
    }

    .insta-button .read-more-btn .button {
        padding: 16.2px 49px;
    }

    .insta-button .read-more-btn .button:after {
        height: 54px;
    }

    .news-form .read-more-btn .button {
        padding: 16.5px 55px;
        padding-right: 23px;
    }

    .news-form .read-more-btn .button:after {
        height: 54px;
    }

    .footer-form .read-more-btn .btn-img{
        top: 16px;
        left: 140px;
    }

    .news-form .btn-img{
        left: 112px;
    }

    .news-form .read-more-btn.button-wid .button {
        padding: 10.5px 55px;
        padding-right: 25px;
    }

    .news-form .read-more-btn{
        left: 5%;
    }

    .news-form .read-more-btn.button-wid .button:after{
        height: 42px;
    }
    
}

@media screen and (max-width: 768px){

    .top-banner-wrapper #main{
        display: table-cell;
    }
    
    .about-title .card-title{
        font-size: 17px;
    }

    .header-five.layout-six ul.navbar-nav.homepage-navbar{
        width: 100%;
        padding-left: 0px;
    }

    .header-five li.nav-item:after{
        display: none;
    }

    .blog-content-wrapper {
        padding: 40px 0px;
    }

    .search-box ::placeholder{
        text-align: left;
    }

    .like-button-hori {
        left: 38%;
    }

    .search-box .btn{
        margin-top: 20px !important;
        margin-left: 0px !important;
    }

    .author-name .author-name-para{
        width: 100%;
    }

    .blog-content-wrapper.home-page .card.mid-card .card-body {
        padding: 60px 30px 20px 30px;
    }

    .two-blog-top{
        margin-top: 0px;
    }

    .two-blog-top:last-child{
        margin-top: 30px;
    }

    .card.mid-card .card-first-mid-btn {
        display: block;
    }

    .btn-like-wrap .like-back{
        width: 40px !important;
    }

    .btn-like-wrap .like-back i{
        width: 40px !important;
    }

    .blog-card-head, .about-img{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }

    .seven-none{
        display: none;
    }

    .btn.after-btn:after{
        height: 
    }

    .insta-button .read-more-btn .btn.after-btn {
        padding: 10px 0px;
        width: 130px;
    }

    .card-header-sec .read-more-btn{
        visibility: visible !important;
    }

    .card-header-sec .read-more-btn .angle-img {
        display: none;
    }

    .read-more-btn .angle-img

    .two-blog-top:last-child{
        margin-top: 30px;
    }

    .blog-two-wrapper {
        margin-top: 0px;
        padding: 45px 0px;
    }

    .like-back i {
        font-size: 16px;
    }

    .btn.after-btn:after{
        width: 100% !important;
    }

    .angle-img {
        transform: translateX(1px);
        visibility: visible;
    }

    .button-wrapper {
        top: 47%;
    }

    .blog88-header .footer-link, .bottom-foot-wrapper .footer-link{
        width: 100%;
    }

    .continue-reading-btn .btn.after-btn, .btn.after-btn{
        padding: 12px 0px;
        width: 130px;
    }

    .featured-blog-wrapper {
        padding: 50px 0px;
    }

    .blog-feature {
        margin-top: 8%;
    }

    .btn.after-btn:hover .angle-img {
        transform: translateX(5px);
    }

    .btn.after-btn{
        padding: 12px 0px; 
        width: 130px;
    }

    .like-button {
        top: -54px;
    }

    .mid-heads span{
        display: none;
    }

    .author-image img {
        width: 100%;
        border-radius: 0px 40px 0px 40px;
    }

    .blog-descp h5 {
        font-size: 16px;
    }

    .theme-by{
        display: block;
        font-size: 14px;
    }

    .blog-descp{
        padding: 0px 10px;
    }

    .about-recent-head{
        float: left;
        width: 100%;
    }

    .recent-image{
        width: 100%;
    }

    .recent-image img{
        width: 100% !important;
    }

    .bottom-link .footer-items {
        margin-right: 13px;
    }

    .recent-foot-post .share-link.insta-gram {
        padding: 9px 14px;
    } 

    .insta-button .read-more-btn .btn i{
        display: none;
    }

    .insta-button .btn-img{
        right: 0;
        top: 9px;
        left: 0;
    }

    .footer-last {
        margin-top: 0px;
    }

    .footer-link:first-child{
        margin-top: 0px;
    }

    .recent-foot-post {
        margin-top: 35px;
    }

    .beauty-head {
        padding: 16px 16px 24px 19px;
    }

    .share-link{
        margin-top: 10px;
    }

    .about-recent-head .recent-head {
        margin-top: 6px;
    } 
    
    .beauty-head p{
        display: none;
    }

    .button-social-media .news-media {
        display: inline-block;
        margin-left: 15px;
        margin-top: 0px;
    }

    .two-content {
        margin-top: 5px;
    }

    .button-social-media {
        margin-top: 0px !important;
    }

    .post-tags {
        margin-top: 59px;
    }
    
    .tag-button-click .btn {
        width: 100px;
        height: 40px;
        padding-top: 7px;
        font-size: 14px;
    }

    .tag-button-click {
        margin-top: 15px;
        margin-left: 0px;      
    }

    .recent-head {
        font-size: 15px;
    }

    .recent-image img{
        width: 100%;
    }

    .like-button{
        padding: 10px;
    }

    .about-title .card-title .card-span{
        font-size: 12px;
    }

    .category-display .category-name{
        font-size: 12px;
    }

    .mid-heads h1 {
        font-size: 23px;
        line-height: 30px;
    }

    .search-box .form-control{
        width: 100%;
    }

    .card.mid-card .card-title{
        font-size: 18px;
    }

    .card.mid-card .card-body{
        padding: 50px 11px;
        padding-bottom: 16px;
    }

    .author-name .author-name-tag{
        font-size: 19px;
    }

    .author-image img {
        border-radius: 0px 30px 0px 30px;
    }

    .suscribe-newsletter{
        padding: 30px 15px;
    }

    .about-recent-head .btn.after-btn {
        padding: 8px 10px;
        width: 100px;        
    }

    .about-recent-head .angle-img{
        display: none;
    }

    .news-form .form-control {
        padding: 22px 26px;
        width: 100%;
    }

    .news-header {
        font-size: 15px;
    }

    .news-form .read-more-btn{
        width: 100%;x 
    }

    .news-form .form-control{
        width: 100%;
    }

    .news-form .read-more-btn {
        text-align: center;
        margin-top: 23px;
    }

    .about-recent-post {
        margin-top: 22%;
    }

    .about-hori{
        padding-right: 15px;
    }

    .card-body.about-title .card-span{
        display: none;
    }

    .card-body.about-title .card-text{
        display: none;
    }

    .about .card-body {
        padding: 18px 10px;
    }

    .card-body.about-title {
        padding: 18px 10px;
    }

    .icon-wrap{
        height: 45px;
        width: 45px;
    }

    .card-header-sec{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../images/food.jpg) !important;
    }

    .blog-feature-wrapper{
        border-radius: 40px 0px 40px 0px;
    }

    .category-display {
        padding: 8px 14px;
        position: absolute;
        left: 8%;
        top: 8%;
        visibility: hidden;
    }

    .like-button-wrap .read-more-like{
        height: 40px;
        width: 40px;
    }

    .about-blog-section .like-button-list {
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
    }

    .about-blog-wrapper .blog-wrap-color .beauty-head, .blog-view-wrapper .beauty-head{
        text-align: center;
    }

    .about-blog-wrapper .beauty-head p, .blog-view-list .beauty-head p{
        display: block;
    }

    .blog-content-wrapper.home-page .horizontal-blog-wrapper .card-body.about-title {
        padding-bottom: 30px;
    }

    .blog-feature-wrapper .feature-mid .continue-reading-btn {
        display: block;
        top: 35%;
    }


    /* dark theme */

    .tablet-view, .news-media{
        display: none;
    }

    .navbar-light .navbar-nav .nav-link {
        padding-left: 2px;
    }

    .navbar-icon i {
        color: var(--white);
        font-size: 22px;
    }

    .card.mid-card .blog-card-head .continue-reading-btn {
        display: block;
    }

    .blog-like .like-button {
        top: 31%;
    }

    .card.mid-card .card-title {
        padding: 0px 25px;
    }

    .btn-like-wrap {
        height: 40px;
        width: 40px;
    }

    .read-more-like {
        height: 40px;
        width: 40px;
        border-radius: 100px;
    }

    .read-more-wrapper .like-back {
        height: 40px;
        display: flex;
    }

    .image-like .like-back i {
        font-size: 18px;
    }

    .search-box.dark-section form.form-inline.row {
        margin: 0 5px 0px 0px;
    }

    .blog-read .like-back i {
        width: 40px;
    }

    .horizontal-button{
        visibility: visible;
        top: 21%;
    }

    .card-header-sec:after, .blog-card-head:after{
        visibility: visible;
    }

    .card-first-btn{
        visibility: hidden;
    }

    .read-wrap .card-body {
        padding-bottom: 20px;
    }

    .top-header {
        background-color: #1b1b1b;
    }

    .navbar-fixed {
        padding: 15px 50px !important;
    }

    .dark-banner-category:after{
        width: 30%;
    }

    /* dark theme */

     /* homepage two */

     .item.mid-banner-dark img{
        height: 600px;
     }

     .overlay-wrap img {
        height: 150px;
        object-fit: cover;
    }

    .blog-list-header {
        top: 18%;
    }

    .mid-category.homepage-two-category {
        bottom: -77px;
    }

    .featured-blog.homepage-two-feature .featured-blog-wrapper {
        padding-top: 120px;
    }

    .blog-content-wrapper.home-page-two .blog-list-sec .card.mid-card .card-body, .blog-content-wrapper.home-page-two .card-body{
        padding: 60px 30px 25px 30px;
    }

    .blog-date-wrap {
        padding-right: 0px;
    }

    .footer-list-header .footer-links{
        margin-right: 0px !important;
        padding-right: 0px !important;
    }

    .instagram-section {
        padding-right: 0px;
    }

    .footer-links-list .footer-list {
        margin-right: 4px !important;
    }

    .footer-links{
        font-size: 14px;
        margin-right: 13px !important;
    }

     /* homepage two */

    header.top-header.homepage-three.fourth-layout .nav-top-wrapper{
        display: none;
    }

    .nav-wrapper-top {
        padding: 20px 0px;
        background-color: #6e767b;
    }

    .top-header.homepage-three.fourth-layout .nav-wrapper-top {
        padding: 10px 0px;
    }

    .dialer-section {
        margin: 0px;
    }

    .dialer-section.homepage-four-dialer {
        display: none;
    }

    .navbar-nav.homepage-navbar .nav-item .nav-link {
        color: #000 !important;
        opacity: 1;
    }

    .footer-links-list.top-header-four {
        text-align: right;
        display: inline-block;
        width: 48%;
    }

    header.top-header.homepage-three.fourth-layout ul.navbar-nav.homepage-navbar {
        display: inline-block;
        width: 50%;
        margin-top: 20px;
    }

    .top-header.homepage-three.fourth-layout .nav-item {
        display: block;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 45px;
        height: 45px;
    }

    .carousel-control {
        height: 45px;
    }

    #carouselExampleCaptions .carousel-caption {
        top: 10%;
    }

    .carousel.slide.layout-five.dark-theme  .carousel-inner .carousel-item .carousel-caption .mid-banner-content {
        width: 65%;
    }

    header.top-header.homepage-three.fourth-layout .navbar-toggler-icon {
        width: 1.2em;
        height: 1.2em;
    }

    .carousel-controllers {
        right: 0px;
        left: 15px;
    }

    #carouselExampleCaptions .carousel-item .carousel-caption{
        display: block !important;
    }

    #carouselExampleCaptions .carousel-item img{
        height: 100vh;
        object-fit: cover;
    }

    #carouselExampleCaptions .carousel-caption {
        top: 25%;
    }

    .mid-carousel-wrap .slider-div {
        padding: 60px;
        padding-top: 80px;
        padding-left: 60px;
    }

    .mid-carousel-wrap .carousel-buttons {
        left: 35px;
        right: 35px;
    }

    .mid-carousel-wrap button.bottom-arrow.slick-arrow {
        float: right;
    }

    .mid-carousel-wrapper {
        width: 100%;
        background-color: #00000094;
    }

    .mid-carousel-wrap .mid-heads h1, .mid-carousel-wrap .mid-heads span, .mid-carousel-wrap .footer-insta-button {
        text-align: center;
    }

    .mid-carousel-wrap .carousel-items {
        text-align: center;
    }

    .mid-carousel-wrap .carousel-items {
        width: 70%;
        margin: 0 auto;
        align-self: center;
    }

    .mid-carousel-wrap .slider-div {
        display: flex !important;
    }

    header.top-header.homepage-three nav.navbar.navbar-expand-lg.navbar-light{
        padding: 20px 0px;
    }

    header.top-header.homepage-three .nav-top-wrapper {
        display: none;
    }

    .blog-wrap-color.third-layout .blog-wrap-col.column-wrapper,  .blog-wrap-color.third-layout .column-wrapper{
        padding: 0px 15px !important;
    }

    .blog-wrap-color.third-layout .like-button {
        top: 42%;
    }

    .blog-wrap-color.third-layout .read-more-like {
        background-color: #fff;
    }

    .blog-wrap-color.third-layout .beauty-head {
        text-align: center;
    }

    .header-five{
        position: unset;
        padding: 20px 0px;
        background-color: #1b1b1b;
    }

    .header-five li.nav-item{
        display: block;   
        padding-left: 0px;     
    }

    .header-five .navbar-nav.homepage-navbar .nav-item .nav-link{
        padding-left: 0px;
    }

    .homepage-three-link .navbar-brand {
        color: #fff !important;
    }

    .fifth-header-layout {
        display: inline-block;
        float: right;
        margin-top: -12px;
    }

    .header-five .navbar-nav.homepage-navbar {
        margin-top: 20px;
    }

    .fifth-layout-mobile .footer-links-list.top-header-third, .fifth-layout-mobile .form-inline{
        display: inline-block;
    }

    .fifth-layout-mobile .form-inline{
        float: right;
    } 

    .header-five .navbar-collapse.collapse.show .fifth-layout-mobile {
        clear: both;
        display: block;
    }

    .fifth-header-layout {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .top-header.homepage-three {
        background-color: #ffffff;
    }

    .top-header.homepage-three .homepage-three-link .navbar-brand {
        color: #000 !important;
    }

    .navbar-nav.homepage-navbar {
        margin-top: 20px;
    }

    .header-third-search {
        display: none;
    }

    .top-header.homepage-three .fifth-layout-mobile {
        display: block;
        margin-top: 20px;
    }

    .top-header.homepage-three .navbar-nav.homepage-navbar .nav-item .nav-link {
        border-bottom: 1px solid #e3e3e3;
    }

    .bottom-foot-wrapper.layout-six .footer-link {
        width: 100%;
    }

    .bottom-foot-wrapper.layout-five.layout-six, .bottom-foot-wrapper.layout-five{
        padding-bottom: 10px;
    }

    .header-five.layout-six .navbar-nav.homepage-navbar:hover:after, .bottom-foot-wrapper.layout-six .footer-link:after{
        display: none;
    }

    .header-five.layout-six .navbar-nav.homepage-navbar .nav-item .nav-link:hover{
        color: #9d9e9f !important;
    }

    .top-header.homepage-three.fourth-layout nav.navbar.navbar-expand-lg.navbar-light {
        padding: 10px 0px;
    }

    .top-header.homepage-three.fourth-layout .navbar-nav.homepage-navbar .nav-item .nav-link {
        border-bottom: 0px solid #e3e3e3;
    }

    .top-header.homepage-three.fourth-layout .fifth-header-layout {
        display: block;
        position: absolute;
        top: 24px;
        right: 20px;
    }

    .footer-items:hover .bottom-tag{
        color: #fff !important;
    }
    
}

@media screen and (max-width: 425px){
    .mid-heads h1 {
        font-size: 20px;
    }

    .top-header.homepage-three.fourth-layout .fifth-header-layout {
        top: 19px;
        right: 15px;
    }

    .carousel.slide.layout-five.carousel-second-page .mid-banner-content {
        width: 100%;
    }

    .continue-reading-btn .btn.after-btn, .btn.after-btn {
        padding: 10px 0px;
    }

    .mid-carousel-wrap .carousel-buttons {
        left: 35px;
        right: 35px;
        top: 42%;
    }

    .top-header.homepage-three.fourth-layout .navbar-brand {
        padding-top: 0px;
    }

    .top-header.homepage-three.fourth-layout .nav-wrapper-top {
        padding: 0px 0px;
    }

    .blog-content-wrapper.home-page .card.mid-card .card-body {
        padding: 60px 15px 15px 15px;
    }

    .page-item:first-child {
        margin-left: 0px;
    }

    .next-col-ad {
        margin-top: 50px;
    }

    .about-news {
        margin-top: 50px;
    }

    .share-items .share-link a {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .insta-photo-wrap {
        margin-top: 10%;
    }

    .mid-categ a {
        font-size: 14px;
    }

    #main{
        padding: 5px;
    }

    .footer-section-wrapper {
        padding: 40px 0px;
    }

    .recent-foot-post .share-link a {
        height: 40px;
        width: 40px;
    }

    .li-wrapper {
        margin-right: 0%;
    }

    .footer-form .form-group {
        padding-left: 15px;
    }

    .foot-recent-wrap {
        text-align: center;
    }

    li.footer-items:last-child {
        margin-right: 0px;
    }

    .blog88-header{
        text-align: center;
    }

    .footer-media, .footer-last, .footer-link{
        text-align: center;
    }

    .recent-posts {
        margin-top: 40px;
    }

    .about-recent-post {
        margin-top: 12%;
    }

    .like-button {
        top: -31px;
    }

    .beauty-head {
        padding: 20px;
    }

    .card-body.about-title .card-text {
        display: block;
    }

    .blog-search-list .next-head:after, .header-author:after, .post-line:after, .news-letter:after, .recent-post-line:after, .blog-list .next-head:after, .list-view-head:after, .follow-instagram:after, .blog88-head:after{ 
        width: 60%;
        left: 0;
        margin: 0 auto;
        right: 0;
    }

    .share-link.insta-gram{
        padding: 0px;
    }

    .blog88-header .footer-blog {
        margin-top: 21px;
    }

    .footer-blog.recent-foot{
        margin-top: -14px;
    }

    .insta-follow-wrapper{
        text-align: center;
    }

    .follow-instagram, .blog88-head{
        font-size: 22px;
        display: inline-block;
    }

    .footer-top-wrapper{
        text-align: center;
    }

    .beauty-head {
        text-align: center;
    }

    section.blog-view-list {
        padding: 40px 0px;
    }

    .mid-social-item .social-link {
        font-size: 16px;
    }

    .card.mid-card .card-body {
        padding: 10px 36px;
    }

    .read-more-btn{
        text-align: center;
    }

    .search-box .form-control {
        height: 50px;
    }

    .search-box .btn {
        margin-top: 7% !important;
        margin-left: 0px !important;
        width: 120px;
    }

    .list-view-head, .recent-post-line {
        font-size: 24px;
        text-align: center;
    }

    .share-link {
        margin-top: 0px;
    }

    .button-social-media .news-media{
        display: none;
    }

    .blog-view-wrapper {
        text-align: center;
    }

    .blog-two-wrapper {
        padding-bottom: 30px;
    }

    .two-content {
        padding: 20px;
    }

    .like-link {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .next-column {
        text-align: center;
        margin-top: 40px;
        padding: 20px;
    }

    .recent-post-click .read-more-btn {
        margin-top: 8px;
    }

    .recent-wrap {
        text-align: left;
    }

    .news-form .form-control {
        padding: 22px 26px;
    }

    .news-media {
        margin-top: 0px;
    }

    .news-form .read-more-btn {
        margin: 15px 0px 10px 0px;
    }

    .suscribe-newsletter {
        padding: 30px;
    }

    .news-header {
        font-size: 18px;
    }

    .news-form .read-more-btn {
        text-align: center;
    }

    .blog-list {
        text-align: center;
    }

    .like-button-hori {
        left: 44%;
    }

    .about-hori{
        margin-top: 17%;
    }

    .feature-col{
        margin-top: 30px;
    }

    .mid-social-media {
        margin-top: 20px;
    }

    .mid-heads span {
        padding: 0px 22px;
    }

    /* dark theme */

    .navbar-light .navbar-brand {
        font-size: 20px;
    }

    nav.navbar.navbar-expand-lg.navbar-light {
        padding: 10px 10px;
    }

    .navbar-fixed {
        padding: 15px 24px !important;
    }

    button.owl-next, .dark-mid-banner .owl-nav button.owl-prev, button.owl-next, .dark-mid-banner .owl-nav button.owl-next {
        height: 40px;
        width: 40px;
    }

    button.owl-next i, button.owl-prev i{
        vertical-align: text-top;
    }

    .mid-banner-content {
        width: 65%;
    }

    .top-banner-section .top-banner-wrapper .mid-banner-content {
        width: 90%;
    }

    .mid-heads span{
        display: none;
    }

    .owl-nav {
        width: 90%;
    }

    .mobile-view-display{
        display: none;
    }

    .item.mid-banner-dark img {
        height: 100vh;
    }

    .mid-banner-content {
        top: 30%;
    }

    .mobile-view-top{
        margin-top: 50px;
    }

    .read-wrap .card-body {
        padding: 20px 15px;
    }

    .read-wrap {
        padding: 50px 0px;
    }

    .blog-like .like-button {
        top: 40%;
    }

    .beauty-head p {
        display: block;
    }

    .blog-read .two-content {
        margin-top: 0px;
        padding-bottom: 30px;
    }

    .card.mid-card .card-title {
        padding: 0px 0px;
    }

    .card.mid-card p.card-text{
        padding: 0px;
    }

    .author-name .author-name-para{
        width: 100%;
    }

    .continue-reading-btn.news-letter-button {
        margin-top: 15px;
    }

    .dark-footer-wrapper.dark-theme .footer-media {
        margin-bottom: 20px;
    }

    .foot-head {
        margin-bottom: 10px;
    }

    .menu-item {
        text-align: center;
    }

    .dark-footer-wrapper.dark-theme .footer-item, .footer-media-icons{
        height: 40px;
        width: 40px;
    }

    .footer-media-icons .footer-link {
       width: 40px;
  
    }

    /* dark theme */

    /* homepage two */

    .item.mid-banner-dark img{
        height: 500px;
    }

    .mobile-view {
        display: none;
    }

    .card.mid-card .card-body {
        padding: 50px 30px;
        padding-bottom: 20px;
    }

    .instagram-section {
        margin-bottom: 20px;
        text-align: center; 
    }

    .footer-links-list{
        text-align: center;
    }

    .footer-head-wrapper {
        text-align: center;
    }

    .blog-date-wrap .recent-post-click{
        display: inline-block;
        text-align: center;
    }

    .blog-date-wrap .about-recent-head .recent-wrap{
        text-align: center;
        margin-top: 10px;
    }

    .footer-list-header .footer-links {
        width: 90%;
    }

    .blog-date-wrap .recent-image{
        width: auto;
    }

    .blog-date-wrap.second-row .recent-post-click.first-child{
        display: none;
    }

    .footer-list-header {
        text-align: center;
    }    

    .footer-header-link:after {
        margin: 0 auto;
        right: 0;
        width: 50%;
    }

    .footer-copy-right .copy-right-section {
        margin: 0px 30px;
        line-height: 1.5;
    }

    .footer-copy-right {
        padding: 15px 0px;
    }

     /* homepage two */

     header.top-header.homepage-five .nav-top-wrapper {
        padding: 0px 0px;
    }

    .header-five {
        top: 13px;
        z-index: 11;
        background-color: #1b1b1b;
    }

    .navbar-brand.menu-second {
        display: none;
    }

    .btn.search-button-header {
        margin: 3px 0px !important;
    }

    .dialer-section {
        display: inline-block;
        float: right;
        position: relative;
        z-index: 15;
    }

    .header-five .navbar-nav.homepage-navbar {
        margin-top: 20px;
    }

    .header-five .navbar-nav.homepage-navbar .nav-item .nav-link{
        padding-left: 0px;
    }

    .bottom-foot-wrapper.layout-five .footer-link .footer-items:after{
        display: none;
    }

    .bottom-foot-wrapper.layout-five .footer-items {
        padding: 5px 10px;
    }

    .dark-footer-wrapper.home-page-three.layout-five .footer-last {
        text-align: center;
    }

    .dark-footer-wrapper.home-page-three.layout-five .dark-border {
        padding-bottom: 20px;
    }

    .dark-footer-wrapper.home-page-three.layout-five .footer-links-list.top-header-third{
        margin-top: 0px;
    }

    .mid-carousel-wrap .carousel-image {
        height: 500px;
    }

    .mid-carousel-wrap button.top-arrow.slick-arrow, .mid-carousel-wrap button.bottom-arrow.slick-arrow {
        height: 40px;
        width: 40px;
    }

    .mid-carousel-wrap button.top-arrow.slick-arrow i, .mid-carousel-wrap button.bottom-arrow.slick-arrow i {
        width: 40px;
    }

    .mid-carousel-wrap .carousel-buttons {
        left: 15px;
        right: 15px;
        bottom: unset;
        top: 42%;
    }

    .slick-vertical .slick-slide {
        height: 500px;
    }

    .mid-carousel-wrap .carousel-items {
        width: 100%;
    }

    .mid-carousel-wrap .angle-button{
        padding: 0px;
    }

    .mid-carousel-wrap .btn.after-btn{
        width: 130px;
    }

    .mid-banner-content {
        width: 100%;
    }


}

@media screen and (max-width: 375px){
    .bottom-link .footer-items {
        margin-right: 18px;
    }

    .blog-list .like-button-wrap {
        top: -31px;
    }

    .mid-heads h1 {
        font-size: 18px;
    }

    img.blog-start-img {
        height: 250px;
        object-fit: cover;
    }

    .card-first-mid-btn {
        top: 42%;
    }
}

@media screen and (max-width: 360px){
    .mid-heads h1 {
        font-size: 17px;
    }
}

@media screen and (max-width: 320px){
    #main {
        padding: 0px;
    }

    .blog-content-wrapper.home-page-two .blog-list-sec .card.mid-card .card-body, .blog-content-wrapper.home-page-two .card-body {
        padding: 60px 15px 10px 15px;
    }

    .quick-links.social-medias .footer-links-list .footer-list {
        margin-right: 18px !important;
    }

    .column-divided-img {
        height: 200px;
        object-fit: cover;
    }

    .next-column {
        padding: 0px;
    }

    .like-link .like-item:last-child{
        margin-top: 10px;
    }

    .beauty-head h1 {
        font-size: 18px;
    }

    .category-header-link {
        font-size: 14px;
    }

    .read-wrap .card-title{
        font-size: 18px;
    }

    .about-recent-head .recent-head {
        margin-top: 0px;
    }

    .two-content {
        padding: 20px 8px;
    }

    .bottom-link .footer-items {
        margin-right: 17px;
    }

    .beauty-head {
        padding: 17px;
    }

    .suscribe-newsletter {
        padding: 20px;
    }

    .card-body.about-title {
        padding: 18px 15px;
    }

    .blog-content-wrapper.home-page-two .blog-list .card.mid-card .card-body {
        padding: 10px 15px;
        padding-top: 40px;
    }

    .theme-by {
        display: block;
        font-size: 12px;
    }

    .mid-heads h1 {
        font-size: 16px;
        line-height: 24px;
    }

    .mid-heads span {
        padding: 0px 16px;
    }

    #carouselExampleCaptions .carousel-item img {
        height: 100vh;
    }

    .carousel-control {
        height: 40px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 40px;
        height: 40px;
    }

    #carouselExampleCaptions .carousel-caption {
        top: 32%;
    }

    .footer-links-list.top-header-four {
        width: 57%;
    }

    header.top-header.homepage-three.fourth-layout ul.navbar-nav.homepage-navbar {
        width: 40%;
    }

    .bottom-foot-wrapper.layout-five .footer-items {
        padding: 5px 9px;
    }

}



/* media query */ 